version: '3.0'

services:
  frontend:
    ports:
      - "3000:80"
    build:
      context: ./frontend
      dockerfile: Dockerfile.prod
      args:
          - VITE_BACKEND_URL=api

  backend:
    env_file:
      - ./backend/.env  # Backend environment variables
    environment:
      - DEBUG=False
      - RELOAD=False