version: '3.0'

services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev  # Use dev Dockerfile
    volumes:
      - ./frontend:/app  # Live code reloading
    environment:
      - NODE_ENV=development
    ports:
      - "5173:5173"

  backend:
    volumes:
      - ./backend:/app  # Live code reloading
    environment:
      - DEBUG=True
      - RELOAD=True