/* <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Poppins:wght@500;600;700&display=swap" rel="stylesheet"> */

/* body {
    background-color: rgb(0, 122, 221);
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  } */

.dotted-underline {
    border-bottom: 3px dotted;
}

.fc-toolbar-title {
  color: rgba(166, 172, 200, 1);
  font-weight: 500;
}
.sunset-sunrise-container {
  position: absolute;
  top: 10px; 
  right: 20px; 
  width: auto; 
  z-index: 1;
}