@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 1920px; /* Set your desired width */
  height: 1080px; /* Set your desired height */
}

#root {
  width: 1920px; /* Set your desired width */
  height: 1080px; /* Set your desired height */
  margin: 0;
  padding: 0;
}